<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/script/script.js"></script>

</head>

<body>
  <div class="container">
    <div class="toolbar">

    </div>
    <div class="container-body">
      <div class="home-div">
        <div class="width-20 flt-lft">
          <div class="upload-div width-100 flt-lft" id="uploaddiv">
            <div class="width-100">
              <div class="form-control">
                <input type="text" id="projectname">
              </div>
              <span id="filename"> </span>
              <div class="form-control">
                <div class="upload-container">
                  <input type=file name=file class="inputfile" multiple onChange='fileSelect(event)'>
                  <span>Choose a file</span>
                </div>
              </div>
              <div id="uploadedfiles"></div>


              <div class="form-control">
                <button class="submit" onclick="fileUpload()" id="submitbtn"><span>Upload</span></button>
              </div>
            </div>
          </div>
          <div class="projectlist  width-100" style="overflow: auto" id="projectlist">

          </div>
        </div>
        <div class="width-80 flt-lft" id="detailsdiv">

        </div>
        <!-- <button> <span>Upload</span></button> -->
        <!-- <button onclick="addvalues()">Add valeus</button> -->
        <!-- <input type="text" id="projectname">
        <input type="file" onChange="fileSelect(event)"> -->
        <!-- <button onclick="fileUpload()">Upload</button> -->
        <div id="demo"></div>
      </div>
    </div>
  </div>
</body>
<script>
  var container = document.getElementById('projectlist');
  var detailsdiv = document.getElementById('detailsdiv');
  var uploadedfiles = document.getElementById('uploadedfiles');
  var fileList = [];
  window.onload = main;
  const url = 'http://localhost:5000'
  // function addvalues() {
  //   fetch(url + "/denoise/documents/pix", {
  //     method: "POST",
  //     body: JSON.stringify({
  //       name: "foo",
  //       email: "bar",
  //       password: "thh"
  //     }),
  //     headers: {
  //       "Content-type": "application/json; charset=UTF-8"
  //     }
  //   })
  //     .then(response => { response.json()})
  //     .then(json => { console.log(json); getvalues();});
  // }
  function fileSelect(event) {
    // console.log(event.target.files)
    // data.append('image', event.target.files[0]);
    // console.log(data.get("image"))
    // console.log(data.get("projectname"))
    fileList = fileList.concat(event.target.files[0]);
    console.log(fileList)
    let divv = createNode('div')
    fileList.forEach((file) => {
      divv.innerHTML = file.name
      append(uploadedfiles,divv)
    });
    divv.addEventListener('click',function(){
      fileList.splice(1, 1);
    })
    

  }
 
  function fileUpload() {
    console.log(this.fileList)
    var data = new FormData()
    fileList.forEach((file) => {
      data.append('file', file);
    });
    let projectname = document.getElementById('projectname').value
    data.append('type', projectname)
    fetch(url + "/denoise/documents/pix", {
      method: "POST",
      body: data,
      // headers: {
      //     "Content-type": "application/json"
      // }
    })
      .then(response => { response.json(); getvalues(); fileList = [];})
      .then(json => console.log(json));
  }

  function getvalues() {
    container.innerHTML = ''
    let ul = createNode('ul')
    fetch(url + "/denoise/documents/pix")
      .then((resp) => resp.json())
      .then(function (data) {
        console.log(data)
        return data.map(function (data) {
          let li = createNode('li');
          li.innerHTML = data.type;
          append(ul, li)
          append(container, ul)

          li.addEventListener('click', function () {
            detailsdiv.innerHTML = ''
            img = createNode('img');
            p = createNode('p');
            img.src = data.image_url_old
            p.innerHTML = data.noise_text
            append(detailsdiv, img)
            append(detailsdiv, p)
          });
        })
      })
  }

  function main() {
    getvalues()
  }

  function createNode(element) {
    return document.createElement(element);
  }

  function append(parent, el) {
    return parent.appendChild(el);
  }

</script>

</html>