<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/script/script.js"></script>
</head>

<body>
  <div class="container">
    <div class="toolbar">

    </div>
    <div class="container-body">
      <div class="home-div">
        <a href="./upload">
          <button> <span>Upload</span></button>
        </a>
      </div>
    </div>
  </div>
</body>

</html>